[Desktop Entry]
Type=Application
Version=1.0
Name=Porthole
Name[de]=Porthole
GenericName=Portage Package Manager
GenericName[de]=Portage-Paketverwaltung
Comment=GTK frontend for Gentoo package management
Comment[de]=GTK-Oberflaeche fuer die Gentoo-Paketverwaltung
Comment[fr]=Une appli graphique GTK pour le systeme de gestion de paquetages de Gentoo
Comment[it]=Un'interfaccia grafica per la gestione dei pacchetti di Gentoo
Exec=/usr/bin/porthole
Icon=/usr/share/pixmaps/porthole-icon.png
Terminal=false
StartupNotify=true
Categories=Development;Utility;Settings;PackageManager;
